.container_menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px 0 100px;
}

.container_menu img{
  width: 80px;
}

.container_menu nav{
  display: flex;
}

.container_menu li, a{
  text-decoration: none;
  list-style-type: none;
  color: #000;
  padding: 10px;
  transition: .2s;
  font-weight: bold;
}

.container_menu nav li a:hover{
  color: #FFFFFF;
  background-color: #036635;
  border-radius: 10px;
  padding: 10px;
  transition: .5s;
}